@using SvConcatWeb.Extensions.ViewModels.Blocks
@inherits UmbracoViewPage<VideoBlockViewModel>

<section class="o-section">
    <div class="container">
        <div class="c-video" data-video>
            @* <picture class="c-video__thumbnail"> *@
            @*      *@
            @*     @foreach (var source in Model.Thumbnail.Sources) *@
            @*     { *@
            @*         <source srcset="@source.Src" media="@source.MediaQuery"> *@
            @*     } *@
            @* *@
            @*     <img src="@Model.Thumbnail.Url" alt="@Model.Thumbnail.Alt"> *@
            @* </picture> *@
            
            <video controls>
                <source src="@Model.GetFullUrl" type="video/mp4">
            </video>
        </div>
    </div>
</section>