@inherits UmbracoViewPage<IMasterModel>

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="nl">
<head>
    <title>@Model.SeoTitle | @Model.SeoSiteName</title>
</head>
<body>

<header-view-component model="@Model"/>

<main>
    @RenderBody()
</main>

@* <vc:footer model="@Model"/> *@

</body>
</html>